<form name="movie_create" method="get" action="/movies/<%=@movie['id']%>/update">
  <div>
    <input type="text" name="movie[title]" value=<%=@movie['title']%> />
  </div>
  <div>
    <input type="text" name="movie[year]" value=<%=@movie['year']%> />
  </div>
  <div>
    <input type="text" name="movie[director]" value=<%=@movie['director']%> />
  </div>
  <div>
    <input type="text" name="movie[rated]" value=<%=@movie['rated']%> />
  </div>
  <div>
    <input type="text" name="movie[poster]" value=<%=@movie['poster']%> />
  </div>
  <button type="submit">Update Movie</button>
</form>
